<!DOCTYPE HTML>
<head>
	{% block head %}
	<title>{% block title %}{% endblock %}</title>
	{% endblock%}
</head>
<body>
	<div class="topbar">
		{% if current_user.is_authenticated() %}
			<a href='{{ url_for("logout") }}'>logout</a>
			<a href='{{ url_for("upload") }}'>submit assignment</a>
		{% else %}
			<a href='{{ url_for("login") }}'>login</a>
		{% endif %}
	</div>

	{% if error %}
		<p class=error><strong>Error:</strong> {{ error }}
	{% endif %}

	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul class=flashes>
	    		{% for message in messages %}
	      			<li>{{ message }}</li>
	    		{% endfor %}
	    	</ul>
	  	{% endif %}
	{% endwith %}

	{% block content %}
	{% endblock %}
	{% block footer %}
		<br>
		<p>
			Written by Dan Obermiller
		</p>
	{% endblock %}
</body>