{% extends "base.html" %}
{% block title %}CS 40 Class Submission Site{% endblock %}
{% block content %}
	<h1>CS40 - Computing for the Web</h1>
	<p>
		CS40 is an introductory programming course taught at Claremont McKenna College by professor Art Lee.  This class is rooted in Python and is intended for students with any (or no) level of programming experience.
	</p>
	<div>Goals of this class include: 
	 <ul>
	  <li>Gain an understanding of the Python programming language and common programming paradigms such as object-oriented
	  programming.</li> 
	  <li>Gain familiarity with HTML(5), JavaScript/JQuery and CSS to create fully featured webpages</li>
	  <li>Learn to use the Flask micro-framework to develop a web server to host your website</li>
	  <li>Learn how to safely use SQL databases (in particular sqlite3) to store data</li>
	 </ul>
	</div>
	<p>
		This repository is intended to work as an online submission site for the course.
	</p>
{% endblock %}